*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainBlack: #222;
  --mainWhite: #fff;
  --mainGreen: #82b340;
  --mainGrey: #e4e2e2;
}
body {
  background: var(--mainWhite);
  /* color: var(--mainGreen); */
  font-family: 'Open Sans', sans-serif;
}